<tr>
  <td><%= f.text_field :name, :size => '15', :disabled => 'true' %></td>
  <td><%= f.text_field :first_place, :size => '5' %></td>
  <td><%= f.text_field :second_place, :size => '5' %></td>
  <td><%= f.text_field :third_place, :size => '5' %></td>
  <td><%= f.text_field :fourth_place, :size => '5' %></td>
</tr>