<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :first_place %><br />
    <%= f.text_field :first_place %>
  </p>
  <p>
    <%= f.label :second_place %><br />
    <%= f.text_field :second_place %>
  </p>
  <p>
    <%= f.label :third_place %><br />
    <%= f.text_field :third_place %>
  </p>
  <p>
    <%= f.label :fourth_place %><br />
    <%= f.text_field :fourth_place %>
  </p>
  <p><%= f.submit %></p>
<% end %>
