<% form_for @user do |f| %>  

	  <%= f.label :name %>
	  <%= f.text_field :name, :size => '15' %><br />
	  <%= f.text_field :first_place, :size => '5' %><br />
	  <%= f.text_field :second_place, :size => '5' %><br />
	  <%= f.text_field :third_place, :size => '5' %><br />
	  <%= f.text_field :fourth_place, :size => '5' %><br />

	<p><%= f.submit "Submit" %></p>  
<% end %>  